In [1]:
%reset -f
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
pitec_main = pd.read_csv('pitec_merged.csv', index_col=0)
pitec_small = pitec_main[['IDENT', 'year', 'INCINE', 'TAMANO']]

# Sample Size Over Time
I focus on observations entered "without incident".

In [3]:
response = pd.DataFrame(index=[['Gross Sample', 'No Incident','Pct. w/ No Incident']], columns=range(2003,2017))

for idx, year in enumerate(range(2003,2017)):
    shell = pitec_small[pitec_small['year']==year]
    response.iloc[0,idx] = len(shell)
    response.iloc[1,idx] = len(shell[shell['INCINE']=='LI'])
    response.iloc[2,idx] = response.iloc[1,idx]/response.iloc[0,idx]
response

,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Gross Sample,7283,10323,12803,12803,12808,12813,12817,12821,12828,12838,12839,12842,12844,12849
No Incident,7238,10093,12098,12034,11594,11182,10796,10380,9977,9612,9172,7071,6880,7683
Pct. w/ No Incident,0.993821,0.97772,0.944935,0.939936,0.905215,0.872707,0.842319,0.809609,0.777752,0.748715,0.714386,0.550615,0.535659,0.597945

# Firm Size

In [4]:
firm_size = pd.DataFrame(index=[['<=5', '6-20','21-50','51-100', '101-500','500<']], columns=range(2003,2017))

for idx, year in enumerate(range(2003,2017)):
    shell = pitec_small[pitec_small['year']==year]
    shell = shell[shell['INCINE']=='LI']
    
    firm_size.iloc[0,idx]=len(shell[shell['TAMANO'] <= 5])/len(shell)
    firm_size.iloc[1,idx]= len( shell[(shell['TAMANO'] > 5) & (shell['TAMANO'] <=20)] )/len(shell)
    firm_size.iloc[2,idx]=len( shell[(shell['TAMANO'] > 20) & (shell['TAMANO'] <=50)] )/len(shell)
    firm_size.iloc[3,idx]=len( shell[(shell['TAMANO'] > 50) & (shell['TAMANO'] <=100)] )/len(shell)
    firm_size.iloc[4,idx]=len( shell[(shell['TAMANO'] > 101) & (shell['TAMANO'] <=500)] )/len(shell)
    firm_size.iloc[5,idx]=len( shell[shell['TAMANO'] > 500])/len(shell)
firm_size

,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
<=5,0.0315004,0.0433964,0.0581914,0.0583347,0.0595135,0.0600966,0.0678029,0.0770713,0.0803849,0.0914482,0.0970345,0.0531749,0.0523256,0.0873357
6-20,0.136364,0.18597,0.220119,0.217467,0.209074,0.212127,0.219155,0.213295,0.218102,0.221286,0.216856,0.158393,0.151017,0.180008
21-50,0.159022,0.206579,0.218631,0.222287,0.222011,0.220086,0.216099,0.214547,0.210083,0.204744,0.201265,0.183708,0.190262,0.194846
51-100,0.112324,0.130883,0.134733,0.133455,0.136191,0.132356,0.129307,0.128805,0.12599,0.124948,0.128216,0.162212,0.158285,0.139138
101-500,0.390301,0.308134,0.263184,0.259349,0.259962,0.260687,0.257503,0.256647,0.257592,0.252705,0.250981,0.311837,0.312064,0.275023
500<,0.16966,0.124145,0.103406,0.107113,0.111696,0.113307,0.108744,0.107707,0.106645,0.102996,0.103685,0.128978,0.134302,0.121697

# Average Proportions

In [5]:
pitec_inn = pitec_main[['IDENT', 'year', 'INCINE', 'IDIN', 'IDEX', 'INNPROD', 'INNPROC', 'FONPUBLI', 'TAMANO']]
innv = pd.DataFrame(index=[['Proportion with Expenditure in Internal R&D', 'Proportion with Expenditure in External R&D', 'Proportion with Product Innovation','Proportion with Process Innovation', 'Proportion Recieving Subsidy']], columns=range(2003,2017))

for idx, year in enumerate(range(2003,2017)):
    shell = pitec_inn[pitec_inn['year']==year]
    shell = shell[shell['INCINE']=='LI']
    innv.iloc[0,idx] = len(shell[shell['IDIN']=='1'])/len(shell)
    innv.iloc[1,idx] = len(shell[shell['IDEX']=='1'])/len(shell)
    innv.iloc[2,idx] = len(shell[shell['INNPROD']=='1'])/len(shell)
    innv.iloc[3,idx] = len(shell[shell['INNPROC']=='1'])/len(shell)
    innv.iloc[4,idx] = len(shell[shell['FONPUBLI'] > 0])/len(shell)
    if innv.iloc[4,idx] == 0:
        innv.iloc[4,idx] = np.nan
innv_avg = innv.mean(axis=1)
innv_avg

Proportion with Expenditure in Internal R&D    0.489764
Proportion with Expenditure in External R&D    0.225786
Proportion with Product Innovation             0.458519
Proportion with Process Innovation             0.456893
Proportion Recieving Subsidy                   0.159572
dtype: float64

# Average Firm Size that Recieves Subidy

In [6]:
firm_size_subsidy = pd.DataFrame(index=[['<=5', '6-20','21-50','51-100', '101-500','500<']], columns=range(2003,2017))

for idx, year in enumerate(range(2003,2017)):
    shell = pitec_inn[pitec_small['year']==year]
    shell = shell[shell['INCINE']=='LI']
    
    firm_size_subsidy.iloc[0,idx]=len(shell[shell['TAMANO'] <= 5])/len(shell)
    firm_size_subsidy.iloc[1,idx]= len( shell[(shell['TAMANO'] > 5) & (shell['TAMANO'] <=20)] )/len(shell)
    firm_size_subsidy.iloc[2,idx]=len( shell[(shell['TAMANO'] > 20) & (shell['TAMANO'] <=50)] )/len(shell)
    firm_size_subsidy.iloc[3,idx]=len( shell[(shell['TAMANO'] > 50) & (shell['TAMANO'] <=100)] )/len(shell)
    firm_size_subsidy.iloc[4,idx]=len( shell[(shell['TAMANO'] > 101) & (shell['TAMANO'] <=500)] )/len(shell)
    firm_size_subsidy.iloc[5,idx]=len( shell[shell['TAMANO'] > 500])/len(shell)
firm_size_subsidy_avg = firm_size_subsidy.mean(axis=1)
firm_size_subsidy_avg

<=5        0.065544
6-20       0.197088
21-50      0.204584
51-100     0.134060
101-500    0.279712
500<       0.117434
dtype: float64

# Probability of Innovation Conditional on Having invested in R&D: Pr(j<sub>t+1</sub>, d<sub>t+1</sub> | x<sup>rd</sup><sub>t</sub> = 1)

* Let j<sub>t+1</sub> represent a binary variable indicating whether a firm has had a **product innovation**. 
* Let d<sub>t+1</sub> represent a binary variable indicating whether a firm has had a **process innovation**. 
* Let x<sup>rd</sup><sub>t</sub>  represent a binary variable whether a firm has invested internally or externally in R&D the previous period.

In [7]:
prob_inn_1 = pd.DataFrame(index=['prod=0 and proc=0', 'prod=1 and proc=0', 'prod=0 and proc=1', 'prod=1 and proc=1'], columns=range(2004,2017))

pitec_inn_pre = pitec_inn[['IDENT', 'year', 'INCINE', 'IDIN', 'IDEX']]
pitec_inn_post =  pitec_inn[['IDENT', 'year', 'INCINE', 'INNPROD', 'INNPROC']]

for idx, year in enumerate(range(2003,2016)):

    pre = pitec_inn_pre[pitec_inn_pre['year']==year]
    pre = pre[pre['INCINE']=='LI']
    invested = pre[(pre['IDIN']!='1') | (pre['IDEX']!='1') ]


    result = pitec_inn_post[pitec_inn_post['year']==year+1]
    result = result[result['INCINE']=='LI']
    result

    invest_result_merge = pd.merge(invested, result, on='IDENT', how='inner')
    prob_inn_1.iloc[0,idx] =  len(invest_result_merge[(invest_result_merge['INNPROD']=='0') & (invest_result_merge['INNPROC']=='0')])/len(invest_result_merge)
    prob_inn_1.iloc[1,idx] =  len(invest_result_merge[(invest_result_merge['INNPROD']=='1') & (invest_result_merge['INNPROC']=='0')])/len(invest_result_merge)
    prob_inn_1.iloc[2,idx] =  len(invest_result_merge[(invest_result_merge['INNPROD']=='0') & (invest_result_merge['INNPROC']=='1')])/len(invest_result_merge)
    prob_inn_1.iloc[3,idx] = len(invest_result_merge[(invest_result_merge['INNPROD']=='1') & (invest_result_merge['INNPROC']=='1')])/len(invest_result_merge)

prob_inn_1_avg = prob_inn_1.mean(axis=1)
prob_inn_1_avg

prod=0 and proc=0    0.444467
prod=1 and proc=0    0.142289
prod=0 and proc=1    0.164715
prod=1 and proc=1    0.248528
dtype: float64

# Probability of Innovation Conditional on Not Having invested in R&D: Pr(j<sub>t+1</sub>, d<sub>t+1</sub> | x<sup>rd</sup><sub>t</sub> = 0)

* Let j<sub>t+1</sub> represent a binary variable indicating whether a firm has had a **product innovation**. 
* Let d<sub>t+1</sub> represent a binary variable indicating whether a firm has had a **process innovation**. 
* Let x<sup>rd</sup><sub>t</sub>  represent a binary variable whether a firm has invested internally or externally in R&D the previous period.

In [8]:
prob_inn_0 = pd.DataFrame(index=['prod=0 and proc=0', 'prod=1 and proc=0', 'prod=0 and proc=1', 'prod=1 and proc=1'], columns=range(2004,2017))

pitec_inn_pre = pitec_inn[['IDENT', 'year', 'INCINE', 'IDIN', 'IDEX']]
pitec_inn_post =  pitec_inn[['IDENT', 'year', 'INCINE', 'INNPROD', 'INNPROC']]

for idx, year in enumerate(range(2003,2016)):

    pre = pitec_inn_pre[pitec_inn_pre['year']==year]
    pre = pre[pre['INCINE']=='LI']
    invested = pre[(pre['IDIN']=='0') & (pre['IDEX']=='0') ]


    result = pitec_inn_post[pitec_inn_post['year']==year+1]
    result = result[result['INCINE']=='LI']
    result

    invest_result_merge = pd.merge(invested, result, on='IDENT', how='inner')
    prob_inn_0.iloc[0,idx] =  len(invest_result_merge[(invest_result_merge['INNPROD']=='0') & (invest_result_merge['INNPROC']=='0')])/len(invest_result_merge)
    prob_inn_0.iloc[1,idx] =  len(invest_result_merge[(invest_result_merge['INNPROD']=='1') & (invest_result_merge['INNPROC']=='0')])/len(invest_result_merge)
    prob_inn_0.iloc[2,idx] =  len(invest_result_merge[(invest_result_merge['INNPROD']=='0') & (invest_result_merge['INNPROC']=='1')])/len(invest_result_merge)
    prob_inn_0.iloc[3,idx] = len(invest_result_merge[(invest_result_merge['INNPROD']=='1') & (invest_result_merge['INNPROC']=='1')])/len(invest_result_merge)

prob_inn_0_avg = prob_inn_0.mean(axis=1)
prob_inn_0_avg

prod=0 and proc=0    0.656653
prod=1 and proc=0    0.072892
prod=0 and proc=1    0.162902
prod=1 and proc=1    0.107554
dtype: float64

# Any obserbvations where firm conducts external R&D and recieves a subsidy? -- NO

In [9]:
pitec_inn[(pitec_inn['IDEX']=='1') & (pitec_inn['IDIN']=='0') & (pitec_inn['FONPUBLI']>0)]

Empty DataFrame
Columns: [IDENT, year, INCINE, IDIN, IDEX, INNPROD, INNPROC, FONPUBLI, TAMANO]
Index: []